{% extends 'base.html' %}

{% block content %}
	<h2> Comments for: </h2>
	<!-- <div class="post-heading">
		<div class='post-title'>
			"{{ post.subject }}" by {{ post.username }}
		</div>
	</div> -->
	<div class="post-content-for-comment">
		{{ post.render() | safe }}
	</div>

	<br>
	<br>
	<br>

	<form method="post">
		<label>
			<div>New Comment</div>
			<input class="comment-box" type="text" name="comment" value="{{comment}}">
		</label>
		<div class="error"> {{error}} </div>
		<input type="submit"> <em><a class="backto" href="/blog">Cancel</a></em>
		<input type="hidden" name="post_id" value="{{post.key().id()}}">
		<input type="hidden" name="user_id" value="{{user.key().id()}}">
		<input type="hidden" name="username" value="{{user.name}}">
	</form>
	<br>
	
	<hr>

	
	{% for c in comments %}
		<div class="comments-line">
			<div class="comment-content">
				--> {{ c.commentauthor }}: {{ c.comment }}
			</div>

			<span class="comment-time">
				<a class="no-hyper" href="{{'/blog/post/%s/editcomment/%s' % (post.key().id(), c.key().id())}}">Edit</a>
				|
				<a class="no-hyper" href="{{'/blog/post/%s/deletecomment/%s' % (post.key().id(), c.key().id())}}">Delete</a>
				|
				{{ c.created.strftime("%b %d, %Y, %H:%M:%S")}}
			</span>		
		</div>
	{% endfor %}



{% endblock %}